@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MillerBanner';
    src: url('../fonts/Font Bureau - MillerBanner Light.otf') format('otf');
}
body {
    font-family: 'HelveticaNeue-Light';
    color: #202020;
}

